/* src/app.css */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

:root {
  --button-color-1: #01923E;
  --bg-color-1: #01923E;
  --button-color-1-hover: #027231;
  --text-color: #1E1718;
  --bg-color: #ffffff;
  --primary-font: "IBM Plex Sans", sans-serif;
  --secondary-font: "Merriweather", serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
.pt-75{
  padding-top: 75px !important;
}

.fit-screen{
  min-height: calc(100vh - 56px);
}

.content-area{
  margin-left: 280px;
  margin-top: 74px;
}
.form-control:focus{
  box-shadow: none !important;
}
.bg-color-1{
  background-color: var(--bg-color-1);
}

.button-green {
  background-color: var(--button-color-1);
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-green:hover{
  background-color: var(--button-color-1-hover);
  color: white;
}

@media screen and (max-width:767px) {
  .content-area{
    margin-left: 0px;
    margin-top: 74px;
  }
}

.primary-font{
  font-family: var(--primary-font) !important;
}
.secondary-font{
  font-family: var(--secondary-font) !important;
}
.nav-item{
  transition: 0.3s all linear;
}

.nav-item:hover{
  background-color: var(--bg-color-1) !important;
  color: #fff !important;
}
.nav-item:hover .nav-link{
  color: #fff !important;
}